@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --surface-bg: #f9f9f9;
  --lines: #e6e6e6;
  --text-brand: #ff6100;
  --text-secondary: #1a374d;
  --placeholder: #9f9f9f;
  --text-danger: #ff0000;
  --color-brand: #8d4000;
  --color-brand-hover: #9e5200;
  --color-success: #00ff00;
  --invert: #c7c7cd;
  --b1: #f9f9f9;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.dbg {
  @apply border border-red-500;
}

.dbg1 {
  @apply bg-red-500;
}

.dbg2 {
  @apply bg-blue-500;
}

.dbg3 {
  @apply bg-green-500;
}

.custom-number-input::-webkit-inner-spin-button,
.custom-number-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.custom-number-input {
  -moz-appearance: textfield;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color: #f5f5f5;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b8bed9;
  border-radius: 3px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #c7c7cd;
}

* {
  @apply custom-scrollbar;
}

.scrollbar-fix {
  @apply custom-scrollbar;
}

@layer components {
  .transitioning {
    @apply transition  duration-[800];
  }

  .rounded-brand {
    @apply rounded-[16px];
  }

  .field-1 {
    @apply rounded-[8px] focus:border-[#8d4000]/40 transition-colors duration-[400]  border bg-[--surface-bg] outline-none  pl-3 py-2 text-sm pr-3 placeholder:text-[--placeholder] w-full border-[--lines];
  }

  .btn-1 {
    @apply bg-[--color-brand] disabled:pointer-events-none disabled:opacity-60  transitioning  hover:bg-[--color-brand-hover] text-white rounded-[4px] p-2 w-full;
  }

  .btn-2 {
    @apply hover:bg-[#8d4000]/10 disabled:pointer-events-none disabled:opacity-60  transitioning  bg-white border border-[--color-brand] text-[--color-brand] rounded-[4px] p-2 w-full;
  }
}

@keyframes roundTrip {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(100%);
  }
  75% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
